.cardWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}

.buttonWrap {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.tabButton {
    width: 60px;
    height: 60px;
    background: #262626;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

.tabButton:last-child{
    margin-left: 20px;
}

.active{
    background: #07f;
}

.actionButtonWrap{
    margin-top: 40px;
}
.bottomPara{
    color: #c4c5d5;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
}